<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    哈哈
    <p>Welcome to <%= title %></p>
    <div style="background-color: red;width: 200px;height: 200px">

    </div>
  </body>
</html>
