    <!--<div class="view"></div>-->
    <ul class="tabs">
        <li class="tab checked" data-href="#home">
            <i class="icon-home_sign"></i>
            <a >首页</a>
        </li>
        <li class="tab " data-href="#integral">
            <i class="icon-integral"></i>
            <a >积分</a>
        </li>
        <li class="tab " data-href="#join">
            <i class="icon-join"></i>
            <a >加盟</a></li>
        <li class="tab " data-href="#setting">
            <i class="icon-person"></i>
            <a >个人中心</a></li>
    </ul>