    <div class="shop-home">
        <header class="bar">
            <h1 class="icon-logo icon"></h1>
            <div class="input-search">
                <input type="text" placeholder="大闸蟹">
                <i class="icon search icon-search"></i>
            </div>
            <span class="category"></span>
        </header>
        <section class="Carousel">

    </section>
        <div class="recommand">
            <span class="line"></span>
            <span>推荐</span>
            <span class="line reverse"></span>
        </div>
        <section class="goodsContainer">

        </section>
    </div>