<div class="person-center">
    <div class="nav-bar">
        <span class="back">&lt;</span>
        <span class="name"><%=name%></span>
    </div>
    <div class="info-body">
        <div class="info-header">
            <img class="avatar" src="<%=avatar%>" />
            <div class="info-meta">
                <h1><%=name%></h1>
                <h2 class="integral"><%=integral%></h2>
            </div>
        </div>
        <div class="setting-bar big marB20 marT3">
            <span class="col-5">我的订单</span>
            <span class="col-5">我的收藏</span>
        </div>
        <div class="setting-bar marTB20">
            我的购物车
        </div>
        <div class="setting-bar marT3">
            我的积分
        </div>
        <div class="setting-bar marT3">
            收货地址
        </div>
        <div class="setting-bar marT3">
            支付记录
        </div>
        <div class="setting-bar marT3">
            推荐关注
        </div>
    </div>
</div>